/* Comments.css */
.comments-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 560px; /* Yüksekliği eşitlemek için */
  margin-top: 40px;
  font-family: sans-serif;
}

.comments-container h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-card {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  background-color: #fcfcfc;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-header h4 {
  margin: 0;
  color: #000000;
  /* font-weight: 500; */
}

.rating {
  color: rgb(246, 230, 7);
  font-size: 19px;
}

.comment-text {
  margin: 0;
  color: #000000;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .comments-container {
    padding: 15px; /* İç boşluğu küçült */
  }

  .comments-container h3 {
    font-size: 1.5rem; /* Başlık fontunu küçült */
  }

  .comment-card {
    padding: 12px; /* Yorum kartlarının iç boşluğunu küçült */
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Dikeyde hizalamak için */
    margin-bottom: 10px;
  }

  .comment-header h4 {
    margin-bottom: 5px; /* İsim ile rating arasına boşluk ekle */
  }

  .comment-text {
    font-size: 0.9rem; /* Yorum metninin fontunu küçült */
  }
}
