/* CartPage.css */

.cart-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 80px; /* Butonun eskiden olduğu yere gelebilecek boşluğu kaldırabilirsiniz, gerekirse azaltın veya silin */
}

@media (max-width: 768px) {
  .cart-page-container {
    padding: 10px;
    margin-bottom: 60px; /* Mobil için de aynı şekilde ayarlayın */
  }
}
