.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Bu satırı ekle */
  font-weight: 800;
}

/* Diğer Navbar stilleri... */

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #fdbb2d;
}
/* Bu kısmı güncelle */
.dropdown-container {
  position: relative; /* Bu çok önemli! Menünün açılacağı yeri belirler. */
}

.dropdown-menu {
  position: absolute;
  /* Kendi genişliğinin yarısı kadar sola kaydırarak tam ortala */

  background-color: #333;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px; /* Menü genişliğini biraz artırabiliriz */
  border-radius: 8px; /* Kenarları daha yuvarlak yap */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Daha belirgin bir gölge */
  z-index: 100; /* Diğer elementlerin üzerinde görünmesini sağla */
  overflow: hidden; /* Taşmaları engelle */
  position: absolute;
  top: 38px; /* Bu değeri Navbar'ın yüksekliğine göre ayarla */
  left: 130%;
  transform: translateX(-50%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu li {
  padding: 12px 20px; /* Her bir menü öğesinin iç boşluğunu ayarla */
  cursor: pointer;
  margin-left: 0;
  text-align: center; /* Metni ortala */
  transition: background-color 0.2s ease, color 0.2s ease; /* Yumuşak geçiş efektleri */
  font-family: sans-serif;
  font-weight: 300;
}

.dropdown-menu li:hover {
  background-color: #282c34; /* Üzerine gelince daha canlı bir renk */
  color: white; /* Metin rengini beyaz tut */
}
