.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-weight: 800;
  position: relative; /* Mobil menü ikonu için gerekli */
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

/* Mobil menü ikonu */
.menu-icon {
  display: none; /* Varsayılan olarak gizli */
  cursor: pointer;
  font-size: 1.8rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #666;
}

/* Dropdown Menü Stilleri */
.dropdown-container {
  position: relative; /* Dropdown'ın konumlandırılması için */
}

.dropdown-menu {
  position: absolute;
  background-color: #333;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow: hidden;
  top: 100%; /* Linkin hemen altına yerleşir */
  left: 0; /* Sol kenara hizalar */
  margin-top: 5px; /* Link ile menü arasında küçük bir boşluk */
}

.dropdown-menu li {
  margin-left: 0;
}

.dropdown-menu a {
  padding: 12px 15px;
  display: block;
  font-size: 1rem;
}

.dropdown-menu li:hover {
  background-color: #444;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Mobil cihazlarda görünür yap */
    font-size: 22px;
  }

  .navbar-links {
    display: none; /* Varsayılan olarak gizle */
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #222;
    position: absolute;
    top: 60px; /* Navbar'ın yüksekliğine göre ayarla */
    left: 0;
    z-index: 99; /* Menü ikonunun üstünde görünmesini sağla */
    padding-bottom: 10px; /* Alt kısımda biraz boşluk */
  }

  .navbar-links.active {
    display: flex; /* Aktif olduğunda görünür yap */
  }

  .navbar-links li {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #444;
  }

  .navbar-links a {
    padding: 5px;
    width: 100%;
    display: block; /* Linkin tüm alanı tıklanabilir yap */
  }

  .dropdown-menu {
    position: static; /* Mobil menüde dropdown'ı konumlandırma */
    width: 100%;
    background-color: #444;
    box-shadow: none;
    margin-top: 0; /* Üst boşluğu kaldır */
    border-radius: 0; /* Köşe yuvarlaklığını kaldır */
  }
  .dropdown-menu a {
  }
}
