.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Bu satırı ekle */
  font-weight: 800;
}

/* Diğer Navbar stilleri... */

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-family: sans-serif;
}

.navbar-links a:hover {
  color: #61fb6e;
}
