body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Diğer tüm stiller... */
.main-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  /* Öğelerin esnek bir şekilde büyümesini sağlar */
  flex-grow: 1;
  /* Gerekirse öğelerin küçülmesini sağlar */
  flex-shrink: 1;
}
p {
  font-family: sans-serif;
}
