.product-card {
  width: 180px;
  height: 295px;
  border: 1px solid #ddd;

  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: #fafafa;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-card h3 {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 16px;
}

.product-card button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #45a049;
}
